.wrapper {
  position: relative;
}

.headline {
  margin-bottom: 24px;
  max-width: 300px;
}

.phoneWrapper {
  padding-top: 226.06444189%;
  position: relative;
  max-height: 70vh;
  max-width: 600px;
  width: 90vw;
}

.phone {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.screen {
  left: 16.5%;
  height: 20%;
  position: absolute;
  top: 27%;
  width: 68%;
  z-index: 2;
}

.menu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.menuItem {
  background-color: transparent;
  align-items: center;
  border: none;
  display: flex;
  flex: 0 0 calc(100% / 3);
  flex-direction: column-reverse;
  justify-content: center;
  height: 50%;
  margin: 0;
  max-width: calc(100% / 3);
  padding: 8px;
  text-align: center;
}

.icon {
  height: 60%;
  margin-bottom: 12%;
}

.label {
  height: 14%;
}

.cancel {
  background-color: transparent;
  border: none;
  height: 8%;
  left: 15%;
  margin: 0;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: 55%;
  width: 20%;
  z-index: 2;
}

.buttons {

}

.button {
  background-color: transparent;
  border: none;
	height: 6%;
	position: absolute;
  text-indent: -9999px;
	width: 22%;
  z-index: 2;

	&[data-direction="left"] {
		left: 11%;
		top: 72%;
	}
	&[data-direction="right"] {
    right: 11%;
		top: 72%;
	}

	&[data-direction="top"] {
    left: 40%;
		top: 67%;
	}

	&[data-direction="bottom"] {
    left: 40%;
		top: 81%;
	}
}
