@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_reboot.scss";

:root {
  --red: #cc5c5b;
}

html, .main {
  background-color: var(--red);
  color: white;
  height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.aligner {
  display: flex;
  justify-content: center;
  height: 100%;

  @include media-breakpoint-down(sm) {
    margin-top: 1vh;
  }

  @include media-breakpoint-up(md) {
    align-items: center;
  }
}
