@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_reboot.scss";

:root {
  --red: #cc5c5b;
}

html, .main {
  background-color: var(--red);
  color: white;
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.aligner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
